.devcontainer
.vscode
.venv
/bin
build
sdkconfig
sdkconfig.old
ipch
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules
tmp

.DS_Store
*.log
*.bak
*.bkp
*.img
*.ino
*.gz
*.zip
*.bin

*.pem
/release
/_issues

# generated at build time, not needed in repo
/webroot/lang.js
